<%= form_for(@hmm_result) do |f| %>
  <% if @hmm_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hmm_result.errors.count, "error") %> prohibited this hmm_result from being saved:</h2>

      <ul>
      <% @hmm_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :executed %><br />
    <%= f.datetime_select :executed %>
  </div>
  <div class="field">
    <%= f.label :result_db %><br />
    <%= f.text_field :result_db %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
