<% provide(:title, "Hmm Results") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>Listing hmm_results</h1>
    </section>
  </aside>
  <div class="span8">
<table>
  <tr>
    <th>Executed</th>
    <th>Result db</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hmm_results.each do |hmm_result| %>
  <tr>
    <td>
      <% if not hmm_result.executed.nil? %>
      <%= hmm_result.executed.to_formatted_s(:long) %>
      <% end %>
    </td>
    <td><%= hmm_result.sequence_db.source.to_s %>:
      <%= hmm_result.sequence_db.name.to_s %></td>
    <td><%= link_to 'Show', hmm_result %></td>
    <td><%= link_to 'Destroy', hmm_result, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
