<h1>Listing hmm_results</h1>

<table>
  <tr>
    <th>Executed</th>
    <th>Result db</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hmm_results.each do |hmm_result| %>
  <tr>
    <td><%= hmm_result.executed %></td>
    <td><%= hmm_result.result_db %></td>
    <td><%= link_to 'Show', hmm_result %></td>
    <td><%= link_to 'Edit', edit_hmm_result_path(hmm_result) %></td>
    <td><%= link_to 'Destroy', hmm_result, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hmm result', new_hmm_result_path %>
