<% provide(:title, "Hmm Results") %>
<div class="pageheader1">
  <h1>Listing HMM Results</h1>
</div>
<div class="main-content">
  <table>
    <tr>
      <th>Executed</th>
      <th>Sequence Source</th>
      <th>HMM Profile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @hmm_results.each do |hmm_result| %>
    <tr>
      <td>
	<% if not hmm_result.executed.nil? %>
	<%= hmm_result.executed.to_formatted_s(:long) %>
	<% end %>
      </td>
      <td><%= hmm_result.sequence_source.list_name %></td>
      <td> <%= hmm_result.hmm_profile.name %> </td>
      <td><%= link_to 'Show', hmm_result %></td>
      <td><%= link_to 'Destroy', hmm_result, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
  </table>
</div>
