<p id="notice"><%= notice %></p>

<p>
  <b>Executed:</b>
  <%= @hmm_result.executed %>
</p>

<p>
  <b>Result db:</b>
  <%= @hmm_result.result_db %>
</p>


<%= link_to 'Edit', edit_hmm_result_path(@hmm_result) %> |
<%= link_to 'Back', hmm_results_path %>
