<% provide(:title, "Result for " + @hmm_result.hmm_profile.name) %>
<div class="row">
  <div class="span4">
    <h1>HMM Result</h1>
  </div>
  <div class="span4">
    <%= link_to "Browse this profile", @hmm_result.hmm_profile, class: "btn"%>
    <%= link_to "Browse this source", @hmm_result.sequence_source, class: "btn"%>
  </div>
</div>
<div class="row-fluid">
  <aside class="span4">
    <section>
      <h1>
	<%= @hmm_result.hmm_profile.name %>
      </h1>
      <h2>
	<%= @hmm_result.sequence_source.source %>:
	<%= @hmm_result.sequence_source.name %>
      </h2>
      <h2>
	<%= @hmm_result.sequence_source.version %>
      </h2>
      <p>
	<b>Executed:</b>
	<%= @hmm_result.executed.to_formatted_s(:long)%>
      </p>      
    </section>
  </aside>
  <div class="span8">
    <h3> Histogram displaying the distribution of full sequence HMM Bit Scores </h3>
    <div id='chart1'></div>
    <%= render_chart @chart, 'chart1' %>
    <% if @chart2 %>
      <div id='chart2'></div>
      <%= render_chart @chart2, 'chart2' %>
    <% end %>
    <% if @hmm_result.hmm_result_rows.any? %>
    <h3> Listing HMM result-rows (<%= @hmm_result.hmm_result_rows.count %>)</h3>
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Target Name</th>
	  <th>Target Accession</th>
	  <th>e-value</th>
	  <th>score</th>
	</tr>
      </thead>
      <tbody class>
	<%= render @hmm_result_rows%>
      </tbody>
    </table>
    <%= will_paginate @hmm_result_rows %>
    <% end %> 
  </div>

<%= link_to 'Delete', { :action => :destroy, :id => @hmm_result.id }, :method => :delete, :data => { :confirm => 'Are you sure you whant to delete this HMM Result and all its related rows and ...?'} %> |
<%= link_to 'Back', hmm_results_path %>

</div>
