<%= form_for(@hmm_score_criterion, :html => {:class => "well"}) do |f| %>
<%= render :partial => 'shared/error_messages', :locals => {:error_subject => @hmm_score_criterion} %>
<div class="row-fluid">
  <div class="control-group span6">
    <%= f.label "HMM profile" %>
    <%= collection_select( :hmm_score_criterion, :hmm_profile_id, @hmm_profiles, :id, :name) %>
  </div>
  <div class="control-group span6">
    <%= f.label "Minimum Full-Sequence Score" %>
    <%= f.text_field :min_fullseq_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
