<h1>Listing HMM Score Criteria</h1>
<div class="main-content">
<table class="standard">
  <tr>
    <th>HMM Profile</th>
    <th>Min Fullseq Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hmm_score_criteria.sort_by { |sc| sc.hmm_profile.hierarchy }.each do |hmm_score_criterion| %>
  <tr>
    <td><%= hmm_score_criterion.hmm_profile.name %> </td>
    <td><%= hmm_score_criterion.min_fullseq_score %></td>
    <td><%= link_to 'Show', hmm_score_criterion %></td>
    <td><%= link_to 'Edit', edit_hmm_score_criterion_path(hmm_score_criterion) %></td>
    <td><%= link_to 'Destroy', hmm_score_criterion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hmm score criterion', new_hmm_score_criterion_path %>
</div>
