<%= render :template => 'layouts/form', :locals => { :form_subject => @hmm_profile } %>
<div class="row">
<div class="control-group span4">
  <%= @f.label :name %>
  <%= @f.text_field :name %>
</div>
<div class="control-group span4">
  <%= @f.label :version %>
  <%= @f.text_field :version %>
</div>
<div class="control-group span4">
  <%= @f.label :hierarchy %>
  <%= @f.text_field :hierarchy %>
</div>
<div class="control-group span4">
  <%= @f.label :parent_id %>
  <%= collection_select(:hmm_profile, :parent_id, HmmProfile.all, :id, :name) %>
</div>
</div>
<%= @f.submit "Create Profile", :class => "btn btn-large btn-primary"%>
