<%= form_for(@hmm_profile) do |f| %>
<%= render 'shared/error_messages_profile' %>


<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :version %><br />
  <%= f.text_field :version %>
</div>
<div class="field">
  <%= f.label :hierarchy %><br />
  <%= f.text_field :hierarchy %>
</div>
<div class="field">
  <%= f.label :parent_id %><br />
  <%= f.number_field :parent_id %>
</div>

<%= f.submit "Create Profile", :class => "btn btn-large btn-primary"%>

<% end %>
