<% provide(:title, 'HMM Profiles') %>
<h1>Listing HMM-Profiles</h1>
  <ul>
    <% @hmm_profiles_last_parents.each do |hmm_profile| %>
    <li>
      <strong>
      <%= link_to hmm_profile.name, hmm_profile%>
      <%= hmm_profile.hierarchy %>  
      </strong>
    <ul>
      <% hmm_profile.children.each do |child_profile| %>
      <li>
	<strong>
      <%= link_to child_profile.name, child_profile%>
      <%= child_profile.hierarchy %>
	</strong>
      </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
<br />

<%= link_to 'New Hmm profile', new_hmm_profile_path %>
