<h1>Listing hmm_profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Hierarchy</th>
    <th>Parent hmm profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hmm_profiles.each do |hmm_profile| %>
  <tr>
    <td><%= hmm_profile.name %></td>
    <td><%= hmm_profile.version %></td>
    <td><%= hmm_profile.hierarchy %></td>
    <td><%= hmm_profile.parent_hmm_profile_id %></td>
    <td><%= link_to 'Show', hmm_profile %></td>
    <td><%= link_to 'Edit', edit_hmm_profile_path(hmm_profile) %></td>
    <td><%= link_to 'Destroy', hmm_profile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hmm profile', new_hmm_profile_path %>
