<% provide(:title, 'HMM Profiles') %>
<h1>Listing HMM-Profiles</h1>

<ul class="profiles">
<% @hmm_profiles.each do |hmm_profile| %>
  <li>
    <%= link_to hmm_profile.name, hmm_profile%>
    <%= hmm_profile.hierarchy %>
    <%= hmm_profile.parent_id %>
    <%= link_to 'Edit', edit_hmm_profile_path(hmm_profile) %>
    <%= link_to 'Destroy', hmm_profile, confirm: 'Are you sure?', method: :delete %>
  </ul>
<% end %>

<br />

<%= link_to 'New Hmm profile', new_hmm_profile_path %>
