<% provide(:title, @hmm_profile.description) %>
<div class="row-fluid">
  <h1> HMM Profile </h1>
</div>

<% if can? :manage, :all %>
<div class="row-fluid">
  <div class="pageheader1">
    <h3>Create a new HMM Result: </h3>
    <%= render "hmm_results/form" %>
  </div>
</div>
<% end %>

<div class="row-fluid">
  <aside class="span4">
    <section>
      <h1>
	<%= @hmm_profile.description %>
      </h1>
      
      <p>
	<b>Version:</b>
	<%= @hmm_profile.version %>
      </p>
      
      <p>
	<b>Hierarchy:</b>
	<%= @hmm_profile.hierarchy %>
      </p>
      
      <p>
	<b>Parent hmm profile:</b>
	<%= @parent ? @parent.description : "none" %>
      </p>

      <p>
	<b>HMM Score Criteria:</b>
	<% if @hmm_score_criteria %>
	<ul>
	  <% @hmm_score_criteria.each do |criterion|%>
	  <li>
	    <%= link_to "Min Fullseq Score: #{criterion.min_fullseq_score}", hmm_score_criterion_path(criterion) %>
	  </li>
	  <% end %>
	</ul>
	<% else %>
	none
	<% end %>
      </p>
      
      <%= link_to 'Delete', { :action => :destroy, :id => @hmm_profile.id }, :method => :delete, data: { :confirm => 'Are you sure you whant to delete this HMM Profile and all its related results?'}, :class => "btn" %>
      
      <%= link_to 'Edit', edit_hmm_profile_path(@hmm_profile), :class => "btn" %>
      <%= link_to 'Back', hmm_profiles_path, :class => "btn" %>
      
    </section>
  </aside>
  <div class="main-content span8">

      <p>
	<b>HMM Logo:</b>
	<a href='<%= @hmm_profile.hmm_logo.url %>'><%= image_tag @hmm_profile.hmm_logo.url %></a>
      </p>
    <% if @hmm_results != [] %>
    <h3>Results registered(<%= @hmm_results.count %>)</h3>
    <table class="standard">
      <thead>
	<tr>
	  <th>Source</th>
	  <th>Name</th>
	  <th>Version</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<%= render :partial => "hmm_profiles/hmm_result", :collection => @hmm_results %>
      </tbody>
    </table>
    <%= will_paginate @hmm_results, :param_name => 'hmm_results_page' %>
    <% else %>
    <h3>No results registered</h3>
    <% end %>

    <% if @enzymes.any? %>
    <h3>Enzymes containing this profile</h3>
    <table class="standard">
      <thead>
	<tr>
	  <th>Name</th>
	</tr>
      </thead>
      <tbody>
	<% @enzymes.each do |enzyme| %>
	<tr>
	  <td><%= link_to enzyme.name, enzyme_path(enzyme) %> </td>
	</tr>
	<% end %>
      </tbody>
    </table>
    <%= will_paginate @enzymes, :param_name => 'enzymes_page'%>
    <% end %>
  </div>
</div>
