<% provide(:title, @hmm_profile.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	<%= @hmm_profile.name %>
      </h1>
      
      <p>
	<b>Version:</b>
	<%= @hmm_profile.version %>
      </p>
      
      <p>
	<b>Hierarchy:</b>
	<%= @hmm_profile.hierarchy %>
      </p>
      
      <p>
	<b>Parent hmm profile:</b>
	<%= @hmm_profile.parent_id %>
      </p>
      
      
      <%= link_to 'Edit', edit_hmm_profile_path(@hmm_profile) %> |
      <%= link_to 'Back', hmm_profiles_path %>
      
    </section>
  </aside>
  <div class="span8">
    <% if @hmm_profile.hmm_results.any? %>
    <h3>Results (<%= @hmm_results.count %>)</h3>
    <ol class="results">
      <%= render @hmm_results %>
    </ol>
    <%= will_paginate @hmm_results %>
    <% else %>
    <h3>No results registered</h3>
    <% end %>
    <div class="span8" >
      <h3>Create a new HMM Result: </h3>
	 <%= render "hmm_results/form" %>
    </div>
  </div>
</div>
