<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :parent_profile_id, "Parent Profile Id (leave blank for no parent)" %>
    <%= f.number_field :parent_profile_id %>

    <%= f.submit "Create Profile", :class => "btn btn-large btn-primary"%>

<% end %>
