<% provide(:title, @profile.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	<%= @profile.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <b>Name:</b>
  <%= @profile.name %>

  <b>Parent profile:</b>
  <%= @profile.parent_profile_id %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
