<div class="pageheader1">
  <h1>Database Sequences</h1>
</div>

<div class="main-content">
  <%= form_tag('/import_fasta', :class => "well", :multipart => true, controller: 'db_sequences', action: 'import_fasta', method: 'post') do %>
    <%= label_tag :fasta_file, "Upload a fasta file to update the sequence of DbSequence objects:" %><br/>
    <%= file_field_tag :fasta_file %>
    <%= submit_tag "Upload" %>
    (<%= @count_without_sequence %> DbSequence objects without sequence.)
  <% end %>
</div>
