<div class="pageheader1">
  <h1>Listing Database Sequences</h1>
</div>

<div class="main-content">
  <table>
    <thead>
      <tr>
	<th>Created at</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <% @db_sequences.each do |db_sequence| %>
      <tr>
	<td><%= db_sequence.created_at %></td>
	<td><%= link_to 'Show', db_sequence %></td>
	<td><%= link_to 'Edit', edit_db_sequence_path(db_sequence) %></td>
	<td><%= link_to 'Destroy', db_sequence, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @db_sequences %>
  <br />

  <%= link_to 'New Db sequence', new_db_sequence_path %>
</div>
