<p id="notice"><%= notice %></p>

<p>
  <b>Result Rows</b>
  <% @db_sequence.hmm_result_rows.each do |row|%>
<p> <%= row.target_name %> </p>
<% end %>
</p>

<p>
  <b>Hmm db hits:</b>
  <%  @db_sequence.hmm_db_hits.each do |hit| %>
<p> <%= hit.gi %> </p> 
<% end %>
</p>

<p>
<b> Best HMM Profile: </b>
<p><%= link_to @best_profile.name, hmm_profile_path(@best_profile) %></p>
</p>


<%= link_to 'Edit', edit_db_sequence_path(@db_sequence) %> |
<%= link_to 'Back', db_sequences_path %>
