<h1>Listing hmm_result_rows_hmm_db_hits</h1>

<table>
  <tr>
    <th>Hmmresultrow</th>
    <th>Hmmdbhit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hmm_result_rows_hmm_db_hits.each do |hmm_result_rows_hmm_db_hit| %>
  <tr>
    <td><%= hmm_result_rows_hmm_db_hit.hmmResultRow %></td>
    <td><%= hmm_result_rows_hmm_db_hit.hmmDbHit %></td>
    <td><%= link_to 'Show', hmm_result_rows_hmm_db_hit %></td>
    <td><%= link_to 'Edit', edit_hmm_result_rows_hmm_db_hit_path(hmm_result_rows_hmm_db_hit) %></td>
    <td><%= link_to 'Destroy', hmm_result_rows_hmm_db_hit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hmm result rows hmm db hit', new_hmm_result_rows_hmm_db_hit_path %>
