<p id="notice"><%= notice %></p>

<p>
  <b>Hmm result row:</b>
  <%= @hmm_result_rows_hmm_db_hit.hmm_result_row %>
</p>

<p>
  <b>Hmm db hit:</b>
  <%= @hmm_result_rows_hmm_db_hit.hmm_db_hit %>
</p>


<%= link_to 'Edit', edit_hmm_result_rows_hmm_db_hit_path(@hmm_result_rows_hmm_db_hit) %> |
<%= link_to 'Back', hmm_result_rows_hmm_db_hits_path %>
