<p id="notice"><%= notice %></p>

<p>
  <b>Hmmresultrow:</b>
  <%= @hmm_result_rows_hmm_db_hit.hmmResultRow %>
</p>

<p>
  <b>Hmmdbhit:</b>
  <%= @hmm_result_rows_hmm_db_hit.hmmDbHit %>
</p>


<%= link_to 'Edit', edit_hmm_result_rows_hmm_db_hit_path(@hmm_result_rows_hmm_db_hit) %> |
<%= link_to 'Back', hmm_result_rows_hmm_db_hits_path %>
