<%= form_for(@load_database) do |f| %>
  <% if @load_database.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load_database.errors.count, "error") %> prohibited this load_database from being saved:</h2>

      <ul>
      <% @load_database.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taxonset %><br />
    <%= f.text_field :taxonset %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :sequence_database %><br />
    <%= f.text_field :sequence_database %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
