<p id="notice"><%= notice %></p>

<p>
  <b>Taxonset:</b>
  <%= @load_database.taxonset %>
</p>

<p>
  <b>Name:</b>
  <%= @load_database.name %>
</p>

<p>
  <b>Description:</b>
  <%= @load_database.description %>
</p>

<p>
  <b>Active:</b>
  <%= @load_database.active %>
</p>

<p>
  <b>Sequence database:</b>
  <%= @load_database.sequence_database.db %>
</p>


<%= link_to 'Edit', edit_sequence_database_load_database_path(@sequence_database,@load_database) %> |
<%= link_to 'Back', sequence_database_path(@sequence_database) %>
