<%= form_for(@user) do |f| %>
<%= render :partial => 'shared/error_messages', :locals => { :error_subject => @user } %>

<div class="input-large">
  <%= f.label :name %>
  <%= f.text_field :name%>
</div>

<div class="input-large">
  <%= f.label :email %>
  <%= f.text_field :email%>
</div>

<div class="input-large">
  <%= f.label :role %>
  <%= f.select(:role, options_for_select(["admin","guest"]))%>
</div>

  <div class="actions">
    <%= f.submit 'Save Changes', {:class => 'btn btn-large btn-primary'} %>
  </div>
<% end %>
