<%= form_for(@sequence_db) do |f| %>
  <% if @sequence_db.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequence_db.errors.count, "error") %> prohibited this sequence_db from being saved:</h2>

      <ul>
      <% @sequence_db.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
