<h1>Listing configurable_params</h1>

<table>
  <tr>
    <th>Param</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @configurable_params.each do |configurable_param| %>
  <tr>
    <td><%= configurable_param.param %></td>
    <td><%= configurable_param.value %></td>
    <td><%= link_to 'Show', configurable_param %></td>
    <td><%= link_to 'Edit', edit_configurable_param_path(configurable_param) %></td>
    <td><%= link_to 'Destroy', configurable_param, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Configurable param', new_configurable_param_path %>
