<%= form_for(@sequence_source, :html => { :class => "well"} ) do |f| %>
  <% if @sequence_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequence_source.errors.count, "error") %> prohibited this sequence_source from being saved:</h2>

      <ul>
      <% @sequence_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-large">
    <%= f.label :source %>
    <%= f.text_field :source, :placeholder => 'Typical value: NCBI'%>
  </div>
  <div class="input-large">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => 'Typical value: NR'%>
  </div>
  <div class="input-large">
    <%= f.label :version %>
    <%= f.text_field :version, :placeholder => 'Typical value: 2012-06-04'%>
  </div>
  <div class="actions">
    <%= f.submit 'Save Sequence Source', :class => 'btn btn-primary' %> <br />
    <%= link_to 'Cancel', sequence_sources_path, :class => 'btn' %>
  </div>
<% end %>
