<h1>Listing sequence_sources</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Name</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sequence_sources.each do |sequence_source| %>
  <tr>
    <td><%= sequence_source.source %></td>
    <td><%= sequence_source.name %></td>
    <td><%= sequence_source.version %></td>
    <td><%= link_to 'Show', sequence_source %></td>
    <td><%= link_to 'Edit', edit_sequence_source_path(sequence_source) %></td>
    <td><%= link_to 'Destroy', sequence_source, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sequence db', new_sequence_source_path %>
