<% provide(:title, 'Sequence Sources') %>
<div class="row pageheader1">
    <div class="span6">
      <h1>Sequence Sources</h1>
    </div>
    <div class="span6">
      <%= link_to 'Add New Source', new_sequence_source_path, class: "btn"%> 
    </div>
</div>
<div class="row">
  <aside class="span4">
    <section>
      <h1>Sequence Sources</h1>
    </section>
  </aside>
  <div class="span8 main-content">
    <h3>Sequence Sources</h3>
    <table>
      <thead>
	<tr>
	  <th>Source</th>
	  <th>Name</th>
	  <th>Version</th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<% @sequence_sources.each do |sequence_source| %>
	<tr>
	  <td><%= sequence_source.source %></td>
	  <td><%= sequence_source.name %></td>
	  <td><%= sequence_source.version %></td>
	  <td><%= link_to 'Show', sequence_source %></td>
	  <td><%= link_to 'Edit', edit_sequence_source_path(sequence_source) %></td>
	  <td><%= link_to 'Destroy', sequence_source, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>
