<div class="row pageheader1">
  <div class="span4">
    <h1>
      <%= @sequence_source.source + ":" + @sequence_source.name%>
    </h1>
    <h1>
      <%= @sequence_source.version %>
    </h1>
    <%= link_to 'Edit', edit_sequence_source_path(@sequence_source) %> |
    <%= link_to 'Back', sequence_sources_path %>
  </div>
  <%if can? :evaluate, @sequence_sources %>
  <div class="span4">
    <% if @sequence_source.pfitmap_release %>
    <%= render 'evaluate_form' %>
    <% else %>
    <h2> There is no release connected to this source</h2>
    <%= link_to "Create new release", new_pfitmap_release_path, class: "btn" %>
    <% end %>
  </div>
  <% end %>
</div>
<hr>
<div class="row">
  <aside class="span4">
    <% if @hmm_profiles_last_parents %>
    <h3> All Profiles </h3>
    <div id="listContainer">
      <ul id="expList">
	<%= list_children @hmm_profiles_last_parents %>
      </ul>
    </div>
    <% else %>
    <h3> No Profiles Registered </h3>
    <% end %>
  </aside>
  <div class="main-content span8">
    <% if @sequence_source.hmm_results.any? %>
    <h1> HMM Results for this source (<%= @hmm_results.count %>)</h1>
    <% @hmm_profiles.each do |p| %>
    <h3><%= link_to p.name, p %></h3>
    <table>
      <thead>
	<tr>
	  <th>Profile Hierarchy</th>
	  <th>Profile Name</th>
	  <th>Profile version</th>
	  <th>Executed</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<%= render :partial => "sequence_sources/hmm_result", :collection => p.hmm_results.find_all{|result| result.sequence_source == @sequence_source} %>
      </tbody>
    </table>
    <% end %>
    <% else %>
    <h3> No HMM Results Registered </h3>
    <% end %>
    <%= will_paginate @hmm_profiles %>
  </div>
</div>
