<%= form_for(@pfitmap_release) do |f| %>
<%= render :partial => "shared/error_messages", :locals => { :error_subject => @pfitmap_release} %>
  <div class="input-large">
    <%= f.label :release %>
    <%= f.text_field :release, :placeholder => 'Typical value: 2.1' %>
  </div>
  <div class="input-large">
    <%= f.label :release_date %>
    <%= f.text_field :release_date, :placeholder => 'Typical value: 2012-06-13' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
