<div class="pageheader1">
<h1>Listing Pfitmap Releases</h1>
</div>
<div class="row-fluid">
  <aside class="span4">
    <h3>Current release</h3>
    <% if @current_release %>
    <p>
      <b>Release Number:</b><br>
      <%= @current_release.release %>
    </p>
    <p>
      <b>Release Date:</b><br>
      <%= @current_release.release_date %>
    </p>
    <% else %>
    <p> 
      <b>
	There is no current release 
      </b>
    </p>
    <% end %>
  </aside>
<div class="main-content span8">
<table class="table">
  <tr>
    <th>Release</th>
    <th>Release Date</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pfitmap_releases.each do |pfitmap_release| %>
  <tr <%= pfitmap_release.current ? 'class=special-row' : ''%>>
    <td><%= pfitmap_release.release %></td>
    <td><%= pfitmap_release.release_date %></td>
    <td><%= link_to 'Show', pfitmap_release %></td>
    <td><%= link_to 'Edit', edit_pfitmap_release_path(pfitmap_release) %></td>
    <td><%= link_to 'Destroy', pfitmap_release, data: { confirm: 'Are you sure?'}, method: :delete %></td>
    <td><%= link_to 'Use this release', change_release_path(:release_id => pfitmap_release.id), :method => :post %> </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pfitmap release', new_pfitmap_release_path %>
</div>
</div>
