<p id="notice"><%= notice %></p>
<div class="pageheader1">
  <h1>Pfitmap Release</h1>
    <% if can? :make_current, @pfitmap_release %>
    <%= button_to "Make this release current", pfitmap_release_make_current_path(@pfitmap_release), class: "btn btn-large"%>
    <% end %>
    <% if can? :calculate, @pfitmap_release %>
    <%= button_to "Calculate", pfitmap_release_calculate_path(@pfitmap_release), class: "btn btn-large", data: { disable_with: 'Calculating...'}%>
    <% end %>
    
</div>
<hr>

<div class="row">
  <aside class="span4">
    <p> 
      <b> Release No: </b>
      <%= @pfitmap_release.release %>
    </p>
    <p>
      <b> Release Date: </b>
      <%= @pfitmap_release.release_date %>
    </p>
    <p>
      <b> Sequence Source </b>
      <%= @sequence_source ? @sequence_source.list_name : "none" %>
    </p>
  </aside>
  <div class="main-content span8">
    <div>
      <h3>Statistics per profile:</h3>
      <% if @hmm_profiles.any? %>
      <table class="standard">
	<%= render 'included_stats' %> 
      </table>
      <% end %>
    </div>
  </div>

  <%= link_to 'Edit', edit_pfitmap_release_path(@pfitmap_release) %> |
  <%= link_to 'Back', pfitmap_releases_path %>
</div>
