<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Select Taxon Rank
      <b class="caret" ></b>
    </a>
    <ul id="taxon_rank_menu" class="dropdown-menu">
      <% @taxon_ranks.each do |rank_name| %>
      <li>
	<%= link_to rank_name ? rank_name : "all", protein_counts_by_rank_path(protein_counts_params({taxon_rank: rank_name}, params.dup)) %>
      </li>
      <% end %>
      <li class="divider"></li>
      <li>
	<%= link_to "All", protein_counts_by_rank_path(protein_counts_params({taxon_rank: nil}, params.dup)) %>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Select Proteins
      <b class="caret" ></b>
    </a>
    <ul id="taxon_rank_menu" class="dropdown-menu">
      <% @proteins.each do |protein| %>
      <li>
	<%= link_to protein_counts_by_rank_path(protein_counts_array_params({protein_id: protein.id}, params.dup)) do %>
	<%= protein.name ? protein.name : "no name" %>
	<% if @chosen_proteins.include?(protein) %>
	<i class="icon-ok"></i>
	<% end %>
	<% end %>
      </li>
      <% end %>
      <li class="divider"></li>
      <li>
	<%= link_to "Default", protein_counts_by_rank_path(protein_counts_array_params({protein_id: nil}, params.dup)) %>
      </li>
    </ul>
  </li>
</ul>
