<table class="heat-map">
  <thead>
    <tr>
      <th>Taxon</th>
      <% @chosen_proteins.each do |protein| %>
      <th><%= protein.name %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @taxons.each do |taxon| %>
  <tr>
    <td class="taxon"><%= taxon.name %></td>
    <% @chosen_proteins.each do |protein| %>
    <% protein_count = @protein_counts_hash[taxon.id][protein.id] %>
    <% if protein_count %>
    <% color_int = pc_col(protein_count) %>
    <td class="heat" data-color= "<%= color_int %>">
      <%= protein_count.no_genomes.to_s %> |
      <%= protein_count.no_proteins.to_s %> |
      <%= protein_count.no_genomes_with_proteins.to_s %>
    </td>
    </div>
    <% else %>
    <td colspan="3">none</td>
    <td></td>
    <td></td>
    <% end %></td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
<%= will_paginate @taxons %>
<br />
