<table class="table table-striped table-condensed">
  <tr>
    <th>Taxon</th>
    <% @chosen_proteins.each do |protein| %>
    <th colspan="3"><%= protein.name %> </th>
    <th></th>
    <th></th>
    <% end %>
  </tr>
  
  <% @taxons.each do |taxon| %>
  
  <tr>
    <td><%= taxon.name %></td>
    <% @chosen_proteins.each do |protein| %>
    <% protein_count = @protein_counts_hash[taxon.id][protein.id] %>
    <% if protein_count %>
    <td><%= protein_count.no_genomes.to_s %></td>
    <td><%= protein_count.no_proteins.to_s %></td>
    <td><%= protein_count.no_genomes_with_proteins.to_s %></td>
    <td></td>
    <td></td>
    <% else %>
    <td colspan="3">none</td>
    <td></td>
    <td></td>
    <% end %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<br />
