<table class="heat-map">
  <% if @enzymes %>
  <thead>
    <tr>
      <th></th>
      <% @enzymes.each do |enzyme| %>
      <% no_proteins = enzyme.proteins.length %>
      <th colspan=<%= (no_proteins).to_s %> > <%= enzyme.name %> </th>
      <% end %>
    </tr>
    <tr>
      <th>Taxon</th>
      <% @enzymes.each do |enzyme| %>
        <% enzyme.proteins.each do |protein| %>
          <th><%= protein.name %> </th>
        <% end %>
      <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @taxons.each do |taxon| %>
  <tr>
    <td class="taxon"><%= taxon.name %></td>
    <% @enzymes.each do |enzyme| %>
      <% enzyme.proteins.each do |protein| %>
        <% protein_count = @protein_counts_hash[taxon.id][protein.id] %>
        <% if protein_count %>
          <% color_int = pc_col(protein_count) %>
          <td class="heat" data-color= "<%= color_int %>">
	  <%= protein_count.no_genomes.to_s %> |
	  <%= protein_count.no_proteins.to_s %> |
	  <%= protein_count.no_genomes_with_proteins.to_s %>
	  </td>
	<% else %>
          <td colspan="3">none</td>
          <td></td>
          <td></td>
	<% end %>
      <% end %>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
<%= will_paginate @taxons %>
<br />
