<tr id=<%=row_id(taxon)%>>
  <td class="taxon" data-indent=<%=@level%>>
    <%= link_to taxon_sign(taxon), { :controller => "protein_counts", :action => "add_row", :parent_id => taxon.id, :level => @level, :enzyme_ids => @enzyme_tree.keys}, :remote => true %>
    <%= taxon.name%>
  </td>
  <td class="no_genomes">
    <%= no_genomes_for_taxon(@protein_counts_hash, taxon) %>
  </td>
  <% @parent_enzyme_ids.each do |enzyme_id| %>
    <%= render :partial => 'row_part', :locals => {enzyme_id: enzyme_id, taxon: taxon} %>
  <% end %>
</tr>
