<tr id=<%=row_id(taxon)%>>
  <td class="taxon" data-indent=<%=@level%>>
    <%= link_to_expand(taxon_sign(taxon), taxon, @enzyme_tree.keys, @level) %>
    <%= taxon.name%>
  </td>
  <td class="no_genomes">
    <%= no_genomes_for_taxon(@protein_counts_hash, taxon) %>
  </td>
  <% @parent_enzyme_ids.each do |enzyme_id| %>
    <%= render :partial => 'row_part', :locals => {enzyme_id: enzyme_id, taxon: taxon} %>
  <% end %>
</tr>
