<p id="notice"><%= notice %></p>

<p>
  <b>Db:</b>
  <%= @sequence_database.db %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @sequence_database.abbreviation %>
</p>

<p>
  <b>Home page:</b>
  <%= @sequence_database.home_page %>
</p>

<p>
  <b>Accession url:</b>
  <%= @sequence_database.accession_url %>
</p>
<p>
  <b>Load databases:</b>
  <table>
    <tr>
      <th>Taxonset</th>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @sequence_database.load_databases %>
  </table>
  <%=  link_to "New Load database", new_sequence_database_load_database_path(@sequence_database) %>
</p>
<%= link_to 'Edit', edit_sequence_database_path(@sequence_database) %> |
<%= link_to 'Back', sequence_databases_path %>
