<h1>Listing hmm_db_hits</h1>

<table>
  <tr>
    <th>Gi</th>
    <th>Db</th>
    <th>Acc</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hmm_db_hits.each do |hmm_db_hit| %>
  <tr>
    <td><%= hmm_db_hit.gi %></td>
    <td><%= hmm_db_hit.db %></td>
    <td><%= hmm_db_hit.acc %></td>
    <td><%= hmm_db_hit.desc %></td>
    <td><%= link_to 'Show', hmm_db_hit %></td>
    <td><%= link_to 'Edit', edit_hmm_db_hit_path(hmm_db_hit) %></td>
    <td><%= link_to 'Destroy', hmm_db_hit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hmm db hit', new_hmm_db_hit_path %>
