<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Taxon levels
      <b class="caret" ></b>
    </a>
    <ul id="taxon_levels_menu" class="dropdown-menu">
      <% @tl.each do |taxon_level| %>
      <% if taxon_level %>
      <li>
	<%= link_to @column_names[taxon_level], "javascript:d3_taxon_level('"+taxon_level+"');" %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Protein levels
      <b class="caret" ></b>
    </a>
    <ul id="protein_levels_menu" class="dropdown-menu">
      <% @pl.each do |protein_level| %>
      <% if protein_level %>
      <li>
	<%= link_to @column_names[protein_level], "javascript:d3_protein_level('"+protein_level+"');" %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Color by
      <b class="caret" ></b>
    </a>
    <ul id="color_by_menu" class="dropdown-menu">
      <% @tax_levels.each do |taxon_level| %>
      <% if taxon_level %>
      <li>
	<%= link_to @column_names[taxon_level], "javascript:d3_color_table('"+taxon_level+"');" %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" id="dropdown-toggel" data-toggle="dropdown"> 
      Database
      <b class="caret" ></b>
    </a>

    <ul id="taxon_db_menu" class="dropdown-menu">
      <% @load_dbs.each do |ld| %>
      <% if ld %>
      <li>
	<%= link_to ld.name, "javascript:d3_database('"+ld.name+"');"%>
      </li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" id="dropdown-toggel" data-toggle="dropdown"> 
      View
      <b class="caret" ></b>
    </a>

    <ul id="taxon_view_menu" class="dropdown-menu">
      <li>
	<%= link_to "Matrix"%>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" id="dropdown-toggel" data-toggle="dropdown"> 
      Filter
      <b class="caret" ></b>
    </a>

    <ul id="filter_menu" class="dropdown-menu">
      <li>
	<a href="javascript:d3_filter_table('f_proteins_taxa')">Filter proteins and taxa</a> 
      </li>
      <li>
	<a href="javascript:d3_filter_table('clear_proteins')">Clear protein filter</a> 
      </li>
      <li>
	<a href="javascript:d3_filter_table('clear_taxa')">Clear taxa filter</a> 
      </li>
      <li>
	<a href="javascript:d3_filter_table('clear_all')">Clear filers</a> 
      </li>
    </ul>
  </li>
</ul>
