<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @protein.name %>
</p>

<p>
  <b>Rank:</b>
  <%= @protein.rank %>
</p>

<p>
  <b>Hmmprofile:</b>
  <%= @protein.hmm_profile %>
</p>

<p>
  <b>Enzyme:</b>
  <%= @protein.enzyme %>
</p>


<%= link_to 'Edit', edit_protein_path(@protein) %> |
<%= link_to 'Back', proteins_path %>
