<%= form_for(@enzyme) do |f| %>
<%= render :partial => 'shared/error_messages', :locals => { :error_subject => @enzyme} %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %>
    <%= collection_select(:enzyme, :parent_id, @parent_candidates, :id, :name, {:include_blank => :true}) %>
  </div>
  <div class="field">
    <%= f.label :hmm_profile %>
    <%= select_tag("hmm_profile_ids[]", options_for_select(@hmm_profiles.collect { |profile| [profile.description, profile.id] }, @enzyme.hmm_profiles.collect { |profile| profile.id}), {:multiple=> true})%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
