<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "RNRdb", root_path, id: "logo" %>
      <nav>
	<ul class="nav nav-pills pull-right">
	  <li class="dropdown" id="protein_counts">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#protein_counts">
	      Protein Statistics
	      <b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to "By Taxon Rank", protein_counts_by_rank_path, title: "Use filters on taxon rank and proteins to browse protein statistics" %></li>
	      <li><%= link_to "By Taxon Hierarchy", protein_counts_by_hierarchy_path, title: "Use an expandable taxon tree to browse statistics for default proteins" %></li>
	    </ul>
	  </li>
	  <li class="dropdown" id="evaluation">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#evaulation">
	      Evaluation Process
	      <b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to "Home", root_path, title: "Home" %></li>
	      <li><%= link_to "HMM profiles", hmm_profiles_path, title: "profiles" %></li>
	      <li><%= link_to "Sequence Sources", sequence_sources_path %></li>
	      <li><%= link_to "HMM Results", hmm_results_path %></li>
	      <li><%= link_to "DB Sequences", db_sequences_path %></li>
	      <li><%= link_to "HMM DB Hits", hmm_db_hits_path %></li>
	      <li><%= link_to "HMM Score Criteria", hmm_score_criteria_path %></li>
	      <li><%= link_to "Enzymes", enzymes_path %></li>
	    </ul>
	  </li>
	  <li class="dropdown" id="release">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#release">
	      Release (<%= session_release ? session_release.release : 'No current release' %>)
	      <b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
	      <% if releases %>
	      <% releases.each do |rel| %>
	      <li><%= link_to rel.release, change_release_path(:release_id => rel.id), :method => :post %> </li>
	      <% end %>
	      <% end %>
	      <li><%= link_to "All Releases", pfitmap_releases_path %> </li>
	    </ul>
	</ul>
      </nav>
    </div>
  </div>
</header>
